:root {
    font-size: 16px;
    font-family: "Ubuntu Condensed", sans-serif;
    --text-primary: black;
    --text-secondary: white;
    --bg-primary: #2323232e;
    --bg-secondary: #141418;
    --transition-speed: 1s;
    --drawer-color: #0ea5e9;
    --drawer-width: clamp(210px, 22vw, 325px);
    --nav-bg: #f8f8f8;
    --nav-color-1: #c9c9c9;
    --nav-color-2: #62daff6e;
    --blue-1: #084C61;
    --gh-avatar: url("https://github.com/DeenoDev.png");
    --gh-avatar: url("https://github.com/james.png");
    --gh-avatar: url("https://github.com/bob.png");
    --gh-avatar: url("https://github.com/alica.png");
    --gh-avatar: url("https://github.com/amy.png");
    --content-gray: rgb(235,235,235);
    --transition-not-drawer: margin-left 0.4s ease-in;
    --transition-drawer: width 0.4s ease-in;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "drawer nav nav nav"
    "drawer content content content";
    grid-template-rows: 0.8fr 4fr;
    grid-template-columns: 5rem 1fr 1fr 1fr;
}

.drawer {
 grid-area: drawer;
 background-color: var(--drawer-color);
 width: 5rem;
 position: fixed;
 transition: var(--transition-drawer);
 overflow: hidden;
 height:100vh;
 z-index: 1000;
}

.drawer:hover{
    width: var(--drawer-width);
}

.drawer:hover > .menuItem > h1 {
    display: inline;
}

.drawer:hover ~ .navbar,
.drawer:hover ~ .content {
    margin-left: calc(var(--drawer-width) - 5rem);
}

.menuItem > h1 {
    display: none;
    margin-left: 5%;
}


.menuItem{
    color: var(--text-secondary);
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.menuItem > * {
    cursor: pointer;
}

.drawer > div:not(:first-child) > * {
    padding:1vw, 0.1vw, 0.1vw, 0vw;
    padding-top: 0.5vw;
    font-size: calc(20px + 0.2vw);
    padding-left:20px;
}

.drawer > div:not(:first-child) > img {
    width: calc(20px + 0.5vw);
    width: calc(20px + 0.5vw);
}

.drawer > div:nth-child(8) {
    padding-top: 50px;}

.dashboard {
    font-size: clamp(12px, calc(25px + 0.9vw), 50px);
}

.dashboard img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(40px + 0.7vw);
    height: calc(40px + 0.7vw);
    padding-left: 10px;
    padding-top: 10px;
}

/* NavBar Styling */
.navbar {
  grid-area: nav;
  transition: var(--transition-not-drawer);
  background-color: var(--nav-bg);
  padding: 1.5rem 3rem;
  border-bottom: 2px solid rgb(219, 219, 219);
  position:sticky;
  top: 0;
}

.topNav {
    display: grid;
    grid-template-columns: 1fr max-content;
    margin-bottom: 2.5rem;
}

.search {
    display:flex;
    align-items: center;
    margin-right: auto;
    width: 100%;
}

.search > input {
    display: block;
    border: 0;
    background-color: var(--nav-color-1);
    padding: 0.5rem 1.5rem;
    outline-color: var(--blue-1);
    margin-left: 1.25rem;
    border-radius: 10px;
    width: min(80%, 600px);
    margin-right: 20px;
}

.navbar .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size:1.2rem;
    font-weight:800;
}

.gh-avatar {
    background: var(--gh-avatar) center center / cover no-repeat;
    border-radius: 50%;
}

.account .gh-avatar {
    margin: 0 1rem 0 2.5rem 0;
    height: 40px;
    width: 40px;
}

img {
    cursor: pointer;
}

.bottom {
    display:flex;justify-content: space-between;
    align-items: center;
}

.profile {
    display: flex;justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.profile .gh-avatar {
    width: 75px;
    height: 75px;
}

.greeting {
    font-weight: 800;
    margin-bottom: 0.4rem;
}

.profile .name {
    font-size: 1.6rem;
    font-weight: 800;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.btn {
    background-color: var(--drawer-color);
    color: var(--text-secondary);
    font-weight: 800;
    padding: 0.5rem 1.8rem;
    border-radius: 7px;
    font-size: 20px;
    border: 1px solid gray;
    cursor: pointer;
}

/* Main Content */
.content {
    grid-area: content;
    transition: var(--transition-not-drawer);
    background-color: var(--content-gray);
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr auto; /* Adjust this to fix the announcements and trending section*/
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    grid-template-areas: 
     "projects announcements"
     "projects trending";
     overflow: auto;
     height: 100%;
  }

  .content h3{
    font-size:1.3rem;
    font-weight:600;
    margin-bottom: 0.8rem;
  }

  .projects {
    grid-area: projects;

  }

  .projects .cards {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .projects .card {
    background-color: var(--nav-color-2);
    border-left: 10px solid rgb(209, 136, 0);
    display: flex;
    flex-direction: column;
  }

  .project .card-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.2rem;
  }

  .projects .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .projects .icons {
    margin-top: auto;
    align-self: flex-end;
    display: flex;
    justify-content: flex-end;
    gap: 1.8rem;
    align-items: center;
    padding-bottom: 5px;
    padding-right: 5px;
  }

  .card {
    background-color: rgba(45, 187, 187,.459);
    padding: 2rem;
    border-radius: .6rem;
    box-shadow: 0 10px 15px -3px rgba(0 0 0 / .1), 0 4px 6px -4px rgba(0 0 0 0 / 0.1);
  }

  .announcements {
    grid-area: announcements;
  }

  .announcement {
    width: 25ch;
    padding: 1rem 0;
  }

  .announcement:first-child {
    padding-top: 0;
  }

  .announcement:last-child {
    padding-bottom: 0;
  }

  .announcement h5 {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }

  .announcement p {
    font-size: 0.8rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .announcement + .announcement {
    border-top: gray 1px solid;
  }

  .trending {
    grid-area: trending;
  }

  .trending .card {
    padding: 1.5rem;
  }

  .trend {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
  }

  .trend + .trend {
    margin-top:1.5rem;
  }

  .trend .account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size:0.9rem;
  }

  .trend .username {
    font-weight: 500;
    margin-bottom:0.15rem;
  }

  .trend-1 .gh-avatar2 {
    background: var(--gh-avatar2) center center/ cover no-repeat center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .trend-2 .gh-avatar {
    background: var(--gh-avatar) center center/ cover no-repeat center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .trend-3 .gh-avatar3 {
    background: var(--gh-avatar3) center center/ cover no-repeat center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .trend-4 .gh-avatar4 {
    background: var(--gh-avatar4) center center/ cover no-repeat center;  
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .projects h5 {
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 0.5rem;
  }

  .announcements .card-title {
    font-size: 1.2rem;
  }

  .thumbnail {
    border-radius: 50%;
    width: 40px;
    height: 40px;

  }

  


  


